@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.breadcrumb-pages {
  background-image: url("../public/page-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}


.font-satisfy {
  font-family: 'Satisfy', cursive;
}

.loading {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading svg {
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 1s ease-in-out infinite;
}

@keyframes text {
  50% {
    opacity: 0.1;
  }
}

.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse;
}

@keyframes dash {
  to {
    stroke-dashoffset: 234;
  }
}